<div class="home-bg border border-3">
  <!--<img style="display:block; margin-left : auto" src="../../assets/images/roboticsIndex.png" alt="Alternate Text" />-->
  <div class="container-fluid bg-2 text-center">
    <br>
    <h3 class="margin consolas text-white">About Me</h3>
    <p class="intro text-white">
      Hello! I'm
      <span class="highlight">Samuel Bang</span> from the
      <span class="highlight">Minneapolis-St. Paul</span> area, an engineer at
      <span class="highlight">Beckhoff USA</span>, where we tackle global automation challenges from Broadway to satellites. With a rich background in
      <span class="highlight">Automation Engineering</span> and
      <span class="highlight">Computer Science</span>, I'm passionate about merging engineering solutions with software innovations. Feel free to
      <span class="call-to-action"><a href="https://www.linkedin.com/in/samuel-bang01/" class="unset">connect</a></span>  with me for collaborations or insights.
    </p>
    <br><br>
  </div>
</div>
