<div class="splash-screen">
  <h1>Samuel Bang</h1>
  <p>Application Engineer | Beckhoff Automation</p>
  <p>Passionate about Software Development and Embedded Controls</p>
</div>

<br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /> <br /> <br /> <br /> <br />



<div class="bg-gradient_solid">
  <div class="container">
    <div class="section-header">
      <h2>My Journey</h2>
      <hr>
    </div>
    <div class="steps">
      <div class="steps-container">
        <div class="content">
          <h2><img class="logo" src="../../assets/images/appleValley.jpg" alt="City of Apple Valley" /> Information Technology Assistant</h2>
          <p>In 2017, I had the privilege of volunteering as an Information Technology Assistant at the City of Apple Valley's IT deparment. This was my first experience in the technology world and it inspired me to get more involved with technology while in high school.</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2017</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2> <img class="logo" src="../../assets/images/appleValley.jpg" alt="City of Apple Valley" /> Information Technology Intern</h2>
          <p>After my volunteering experience as an assistant, I got hired as an intern for Apple Valley. I was given more responsibility as an intern and gained more skills such as desktop imaging and general computer troubleshooting.</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2018</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2><img class="logo" src="../../assets/images/ncu.jpg" alt="North Central University" /> Software Engineering Tutor</h2>
          <p>After my first semester at North Central University, I was offered the chance to tutor software engineering students. I worked in the computer lab and tutored students in Python, Java, C, SQL, and web development.</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2020</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2><img class="logo" src="../../assets/images/beckhoff.jpg" alt="Beckhoff Automation USA" /> Automation Engineering Intern</h2>
          <p>In the summer of '22, I was able to be an intern for Beckhoff Automation as an Automation Engineering intern. This was my first exposure to embedded controls and PLC programming. I worked on a project that used a delta robot, conveyor movment, HMI, and XTS movement.</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2022</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2><img class="logo" src="../../assets/images/beckhoff.jpg" alt="Beckhoff Automation USA" /> Applications Engineer</h2>
          <p>As an applications engineer, I work on and help design many different types of machines and solve a myriad of problems for customers. I am passonate about helping customers reach their goals and maximizing their potential.</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2023</div>
      </div>
    </div>
  </div>
</div>
